<div class="container-fluid"> 
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container-fluid py-1 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                    <div class="row g-0" style="background-color:#F8F8F8">
                        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mt-5 p-3  d-flex justify-content-center" >
                            <div class="h-75 mt-3 w-lg-50 w-md-75 w-sm-100 developresponsive">
                                 <router-outlet></router-outlet>                                    
                            </div>
                        </div>  
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2 " >
                            <div class="row removebg ">
                                        <div class="row-6">
                                            <img src="assets/images/Rectangle 2.png" class="img-fluid img2"  />
                                        </div>
                                        <div class="row-6">
                                            <img src="assets/images/Rectangle 1.png" class="img1" />
                                        </div>
                                        <div class="col-5">
                                            <img src="assets/images/Rectangle 73.png" class="img-above" />
                                        </div>
                                    </div>                                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>