<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <div class="text-center">
        <h2>Student Details</h2>
        <button mat-icon-button mat-dialog-close class="close-button btn btn-danger">

          <i class="fa-thin fa-xmark fa" style="color: #fcfcfc;"></i>
        </button>
      </div>

      <dt class="col-sm-10 ms-3 fs-5" style="color: #7A8595;">Student Name:</dt>
      <dd class="col-sm-10 ms-3 fs-5 mt-1" style="color: #333333; font:bold">
        {{EditStudentForm.get('StudentName')?.value}}</dd>
      <dt class="col-sm-10 ms-3 fs-5" style="color: #7A8595;">College Name:</dt>
      <dd class="col-sm-10 ms-3 fs-5 mt-1" style="color: #333333; font:bold ">
        {{EditStudentForm.get('CollegeName')?.value}}</dd>
      <dt class="col-sm-10 ms-3 fs-5" style="color: #7A8595;">Batch Year:</dt>
      <dd class="col-sm-10 ms-3 fs-5 mt-1" style="color: #333333; font:bold ">
        {{EditStudentForm.get('BatchYear')?.value}}</dd>
      <dt class="col-sm-10 ms-3 fs-5" style="color: #7A8595;">Email Address:</dt>
      <dd class="col-sm-10 ms-3 fs-5 mt-1" style="color: #333333; font:bold ">{{EditStudentForm.get('EmailId')?.value}}
      </dd>
      <dt class="col-sm-10 ms-3 fs-5" style="color: #7A8595;">Phone Number:</dt>
      <dd class="col-sm-10 ms-3 fs-5 mt-1" style="color: #333333; font:bold ">
        {{EditStudentForm.get('PhoneNumber')?.value}}</dd>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<!-- <form [formGroup]="EditStudentForm" (ngSubmit)="SubmitEditUser()" novalidate>
        <mat-form-field>
          <mat-label class="text-dark">FirstName</mat-label>
          <input matInput formControlName="StudentName" required>
          <mat-error *ngIf="submitted && EditStudentForm.get('StudentName')?.invalid && EditStudentForm.get('StudentName')?.touched">
            Student is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>CollegeName</mat-label>
          <input matInput formControlName="CollegeName" required>
          <mat-error *ngIf="submitted && EditStudentForm.get('CollegeName')?.invalid && EditStudentForm.get('CollegeName')?.touched">
            CollegeName is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="EmailId" required>
          <mat-error *ngIf="submitted && EditStudentForm.get('EmailId')?.invalid && EditStudentForm.get('EmailId')?.touched">
            Email is required.
          </mat-error>
          <mat-error *ngIf="submitted || EditStudentForm.get('EmailId')?.errors?.['pattern']">
            Please Enter Valid Email Id
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>PhoneNumber</mat-label>
          <input matInput formControlName="PhoneNumber" required>
          <mat-error *ngIf="submitted && EditStudentForm.get('PhoneNumber')?.invalid && EditStudentForm.get('PhoneNumber')?.touched">
            PhoneNumber is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>BatchYear</mat-label>
          <input matInput formControlName="BatchYear" required>
          <mat-error *ngIf="submitted && EditStudentForm.get('BatchYear')?.invalid && EditStudentForm.get('BatchYear')?.touched">
            BatchYear is required.
          </mat-error>
        </mat-form-field>

        <!-- <div class="text-center">
          <button mat-raised-button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form> -->