<mat-dialog-content>
    <mat-card class="student-details-card">
        <mat-card-content>
            <!-- Header with Close Button -->
            <div class="header">
                <h2 class="text-center">Student Details</h2>
                <button mat-icon-button mat-dialog-close class="btn btn-danger">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <!-- Student Form -->
            <form [formGroup]="DetailsQuestionSet" (ngSubmit)="SubmitEditQuestionSet()" novalidate>
                <!-- College Name Field -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label class="text-dark">QuestionSet Name</mat-label>
                    <input matInput formControlName="QuestionSetName" required>
                    <mat-error
                        *ngIf="submitted && DetailsQuestionSet.get('QuestionSetName')?.invalid && DetailsQuestionSet.get('QuestionSetName')?.touched">
                        QuestionSet Name is required.
                    </mat-error>
                </mat-form-field>

                <div class="text-center col-md-12">
                    <button mat-raised-button type="submit" class="btn w-100 text-white"
                        style="background: linear-gradient(90deg, #1C73AA 0%, #123953 100%);">Submit</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>